@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #030516;
  --secondary-color: #1f3449;
}

body {
  width: 100%;
  max-width: 2000px;
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--primary-color);
  color: white;
}

